.calc-master
{
    background-color: white;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App
{
    width: 250px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 8px gray;
}
